
::placeholder {
    font-size: 25pt;
    color: purple;
    text-align: center;
}

body {
    background-image: url(../img/backgroundLogin.jpg);
    background-repeat: no-repeat;
}

input {
    font-size: 25pt!important;
    width: 90%;
    text-align: center;
    z-index: 100!important;
    border: solid 1px gray!important;
    border-radius: 8px!important;
    background-color: white!important;
}

.divLogin{
    margin-top: 40%;

}

.btn {
    background-color: #d4b7d6!important;
    border-radius: 7px!important;
    width: 50%!important;
    margin-left: 25%;
}